{% extends "sitewide/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block head %}
{% include "sitewide/pretty_socials.html" with title=page.title description=page.intro wagtail_image=page.promo_image  %}
{% endblock %}

{% block title %}{{ page.title }} | ZappyCode{% endblock %}

{% block content %}
<div class="row justify-content-around align-items-center">
	<div class="col-xl-8 col-11 pt-4 pb-5 bg-light">
		<h1 class="big-title mb-3 text-center">Tutorials</h1>
		<div class="row justify-content-around">
			<div class="col-10">
				<div class="row">
					<h4 class="text-center text-muted pb-3"><i>Whenever we get confused by something, but then find a solution, we make a tutorial so that hopefully it'll help some stranger out there on the internet. Enjoy!</i></h4>
					{% for tutorial in tutorials %}
					<div class="col-4 bg-light pb-4">
						<div class="card">
							{% load wagtailimages_tags %}
							{% image tutorial.promo_image fill-1200x630 format-png as tmp_image %}
							<img src="{{ tmp_image.url }}" class="card-img-top" alt="{{ tmp_image.alt }}">
							<div class="card-body">
								<a href="{% pageurl tutorial %}" class="stretched-link">
									<h5 class="card-title">{{ tutorial.title }}</h5>
								</a>
								<p class="card-text">{{ tutorial.intro|truncatechars:70 }}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}