{% extends "sitewide/base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block head %}
{% include "sitewide/pretty_socials.html" with title=page.title description=page.intro wagtail_image=page.promo_image  %}
{% endblock %}

{% block title %}{{ page.title }} | ZappyCode{% endblock %}

{% block content %}
<article>
	<div class="row justify-content-around align-items-center">
		<div class="col-xl-7 col-sm-11 col-12 pt-4 pb-3 bg-light">
			<header>
				<div class="row justify-content-center">
					<div class="col-md-8 col-sm-10 col-12 bg-light">
						<h1 class="mb-3 text-center">{{ page.title }}</h1>
						{% image page.promo_image width-1000 class="img-fluid py-3" %}
						<h5 class="text-muted"><i>{{ page.intro }}</i></h5>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5 col-sm-7 col-9">
						<div class="row mt-3" style="background-color: #6e00ff; border-top-left-radius: 25px; border-top-right-radius: 25px;">
							<div class="col-4 text-center mt-3" style="border-right: 1px solid white;">
								{% if page.owner.pic %}
									<img class="img-fluid rounded-circle px-3" src="{{ page.owner.pic.url }}">
								{% else %}

								{% endif %}
							</div>
							<div class="col-4 text-center mt-3" style="border-right: 1px solid white;">
								<img class="img-fluid px-3" src="{% static 'tutorials/reading-book.svg' %}">
							</div>
							<div class="col-4 text-center mt-3">
								<img class="img-fluid px-3" src="{% static 'tutorials/calendar.svg' %}">
							</div>
						</div>
						<div class="row mb-3 pt-2" style="background-color: #6e00ff; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
							<div class="col-4 text-center text-white">
								<h5 class="">{{ page.owner.username }}</h5>
							</div>
							<div class="col-4 text-center text-white">
								<h5>{{ page.get_read_time }}</h5>
							</div>
							<div class="col-4 text-center text-white">
								<h5>{{ page.date|date:"M j, Y" }}</h5>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div class="row justify-content-around align-items-center">
				<div class="col-12 pt-2 bg-light">
					<main class="main-content px-2 px-md-5 bg-light">
						{% for block in page.body %}
							{% if block.block_type == 'image' %}
								<div class="text-center">
									{% image block.value width-1000 class="img-fluid pb-2" %}
								</div>
							{% else %}
								{% include_block block %}
							{% endif %}
						{% endfor %}
						{% if courses %}
							<br>
							<h3>Here's some courses you might like:</h3>
							<ul>
								{% for course in courses %}
									<a href="{% url 'course_landing_page' course.slug %}">
										<li>{{ course.title }}</li>
									</a>
								{% endfor %}
							</ul>
						{% endif %}
					</main>
				</div>
			</div>
		</div>
	</div>
</article>

{% endblock %}