{% extends 'tutorials/base.html' %}

{% load static social_share %}

{% block title %}
{{ tutorial.title }}
{% endblock %}

{% block head %}
<meta name="description" content="Level up your skills with our tutorial: {{ tutorial.title }}.">
<link rel="stylesheet" href="{% static 'tutorials/css/tutorial_detail.css' %}">
<link rel="stylesheet" href="{% static 'tutorials/css/atom-one-dark.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-8 main-content">
            <article class="p-4 bg-dark">
                <header class="d-flex flex-column justify-content-center mb-4">
                    {% if tutorial.preview_image %}
                    <img src="{{ tutorial.preview_image.url }}" alt="{{ tutorial.title }}" class="img-fluid">
                    {% endif %}
                    <h1 class="mt-3 mb-2 text-light">{{ tutorial.title }}</h1>
                    <div class="wrapper text-light">
                        <span class="mr-3"><i class="fas fa-user mr-2"></i> {{ tutorial.author }}</span>
                        <span class="mr-3"><i class="far fa-clock mr-2"></i> {{ tutorial.get_read_time }}</span>
                        <span><i class="far fa-calendar mr-2"></i> {{ tutorial.published }}</span>
                    </div>
                </header>
                <main class="content">
                    {{ tutorial.content.html|safe }}
                    <div class="social-share mt-3 d-flex">
                        <span class="facebook-share mr-3 bg-light py-1 px-2 rounded">
                            {% post_to_facebook tutorial "Share to Facebook!" %}
                        </span>
                        <span class="twitter-share bg-light py-1 px-2 rounded">
                            {% post_to_twitter "New Tutorial: {{ tutorial.title }}. Check it out!" tutorial "Post to Twitter" %}
                        </span>
                    </div>
                    <hr class="bg-light">
                </main>
                <footer>
                    <div class="card bg-secondary">
                        <div class="row no-gutters">
                            <div class="col-sm-12 col-md-4">
                                {% if object.author.pic %}
                                <img src="{{ object.author.pic.url }}" alt="{{ object.author }}" class="img-fluid">
                                {% else %}
                                <img src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="" class="img-fluid">
                                {% endif %}
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title text-light">{{ object.author }}</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed lectus non enim maximus vulputate.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </footer>
            </article>
        </div>
        <div class="col-sm-12 col-lg-4">
            <aside class="bg-dark p-4">
                <div class="wrapper mb-4">
                    <h4 class="text-light">Table of Contents</h4>
                    <div class="card">
                        <div class="card-body">
                            <nav>
                                <ol class="toc">

                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <h5 class="text-light mb-3">Other Tutorials You Might Like</h5>
                    {% for tutorial in similar_tutorials %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-2">{{ tutorial.title }}</h5>
                            <div class="wrapper text-dark">
                                <span class="mr-2"><i class="fas fa-user"></i> {{ tutorial.author }}</span>
                                <span class="mr-2"><i class="far fa-clock"></i> {{ tutorial.get_read_time }}</span>
                            </div>
                            <p class="card-text">{{ tutorial.content.html|safe|truncatechars_html:100 }}</p>
                            <a href="{{ tutorial.get_absolute_url }}" class="btn btn-primary">Read Tutorial</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </aside>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'tutorials/js/highlight.pack.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre').forEach((block) => {
            hljs.highlightBlock(block);
        });

        const toc = document.querySelector('.toc');
        const toc_items = document.querySelectorAll('.content h2');
        let i = 1;
        toc_items.forEach(function (item) {
            toc.innerHTML += `<li><a href="#toc-${i}" class="toc-link"><span class="mr-2 font-weight-bold">#</span>${item.innerText}</a></li>`;
            item.setAttribute('id', `toc-${i}`);
            i++;
        });

        const toc_links = toc.querySelectorAll('a');
        console.log(toc_links)
        toc_links.forEach(function (link) {
            console.log(link)
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const href = link.getAttribute("href");
                console.log(href)

                document.querySelector(href).scrollIntoView({
                    behavior: "smooth"
                });
            })
        })
    });
</script>
{% endblock %}