{% extends "sitewide/base.html" %}
{% load static %}
{% load avatar_tags %}

{% block head %}
    {% include "sitewide/pretty_socials.html" with title="ZappyCode Account" description="All courses are included in your ZappyCode membership." %}
{% endblock %}

{% block content %}


    <div class="row justify-content-around align-items-center bg-light">
        <div class="col-lg-7 col-md-8 col-11 pt-4 pb-5">
            <h1>{{ user.username }}'s Account</h1>
        </div>
    </div>
    <div class="row align-items-center justify-content-around bg-light">


        <div class="col-lg-7 col-md-8 col-11 pt-4 pb-5 text-center">


            {% if user.cancel_at_period_end %}
                <br>
                <div class="alert alert-danger" role="alert">
                    Your subscription has been canceled. You'll still have access to ZappyCode until the end of the
                    billing cycle.
                </div>
            {% endif %}
                {% csrf_token %}
                {% if request.user|has_avatar %}
                    <label>Your Current Avatar</label>
                    <div class="d-block">
                         {% avatar user 150 %}
                    </div>
                {% else %}
                    <label>Add your profile picture.<br> It should be a square:</label>
                    <img id='preview_avatar' alt="profile picture" class="mx-auto d-block" height="150px" width="150px"
                         src="{% static 'sitewide/plug4pics.png' %}">
                {% endif %}
                <br/>
                {% if request.user|has_avatar %}
                  <a href = "{% url 'avatar_change' %}" class = 'btn btn-success'>Change Avatar</a>
                {% else %}
                  <a href = "{% url 'avatar_change' %}" class = 'btn btn-success'>Upload Avatar</a>
                {% endif %}
                  <a href = '{% url "avatar_delete" %}' class="btn btn-danger ">Delete</a>
              <br/>
            {% if user.active_membership and not user.cancel_at_period_end %}
                <br>
                <hr>
                <form method="post" action="{% url 'cancel_subscription' %}">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Cancel Subscription</button>
                </form>
            {% elif not user.active_membership %}
                <br>
                <a class="btn btn-primary" href="{% url 'pricing' %}" role="button">Buy Subscription</a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        // funcs to preview photo after upload.
        var reader = new FileReader();

        // show loaded picture
        reader.onload = function (e) {
            $('#preview_avatar').attr('src', e.target.result);
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                reader.readAsDataURL(input.files[0]);
            }
        }

        // fetch url from hidden ImageField
        $("#id_pic").change(function () {
            readURL(this);
        });
    </script>
{% endblock %}
