[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1.6"
pillow = "*"
django-allauth = "*"
render = "*"
stripe = "*"
django-celery-email = "*"
celery = "*"
django-celery-results = "*"
psycopg2-binary = "*"
gunicorn = "*"
supervisor = "*"
django-environ = "*"
future = "*"
djangorestframework = "*"
environ = "*"
requests = "*"
django-imagekit = "*"
readtime = "*"
django-social-share = "*"
django-tinymce = "*"
paypalrestsdk = "*"
sentry-sdk = "*"

[requires]
python_version = "3.6.9"
