@media (min-width: 601px) and (max-width: 980px) {
    .paddle-button {
        font-size: smaller;
    }

    #paddles {
        position: fixed;
        display: flex;
        top: 27%;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .paddle-button {
        width: 40%;
        justify-content: space-between;
    }

    .text-paddle2 {
        display: none;
    }
}

#paddles {
    position: fixed;
    top: 50%;
    display: flex;
    justify-content: space-around;
}

#next-paddle {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#prev-paddle {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paddle-button {
    -webkit-appearance: none;
    color: transparent;
    background: transparent;
    border: 0;
    outline: 0;

}

.arrow-svg {
    cursor: pointer;
    width: 23px;
    height: 72px;
    align-content: center;
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}


.left:hover .text-paddle,
.left:focus .text-paddle {
    stroke-width: 3;
    font-weight: bold;
}

.left:hover polyline,
.left:focus polyline {
    stroke-width: 3;

}

.left:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}

.right:hover .text-paddle,
.right:focus .text-paddle {
    stroke-width: 3;
    font-weight: bold;
}

.right:hover polyline,
.right:focus polyline {
    stroke-width: 3;
}

.right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}

polyline {
    transition: all 250ms ease-in-out;
}
