{% extends "sitewide/base.html" %}
{% load static %}

{% block content %}

    <div class="row justify-content-center bg-dark pt-3">

        <div class="col-lg-4 col-md-6 col-8">
            <div class="text-center">
                <img src="{{ course.image.url }}" class="img-fluid">
            </div>
            <div class="center_on_image text-center">
                <a onclick="$('#exampleModalCenter').modal('show');"><img src="{% static 'sitewide/play-button.png' %}"
                                                                          height="100" width="100"></a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center bg-dark py-3">
        <div class="col-lg-6 col-md-8 col-10 text-center">
            <h1 class="text-white">{{ course.title }}</h1>
            <h4 class="text-light">{{ course.subtitle }}</h4>
            <a class="btn btn-primary"
               href="{% url 'view_lecture' course.first_lecture.section.course.slug course.first_lecture.id course.first_lecture.slug %}"
               role="button">Start Course</a>
        </div>
    </div>



    <div class="row justify-content-around align-items-center bg-light pt-3">
        <div class="col-10">
            <h2 class="text-center">Description</h2>
            <p>{{ course.description }}</p>
        </div>
    </div>

    <div class="row justify-content-around align-items-center bg-success pt-3">
        <div class="col-lg-6 col-10">
            <h2 class="text-center text-white">Outline</h2>
            {% for section in course.sorted_sections %}

                <li class="list-group-item  list-group-item-dark">{{ section.number }} - {{ section.title }}</li>
                {% for listed_lecture in section.sorted_lectures %}

                    <!-- make a thing that if the current lecture make it unclickable and active -->

                    <a href="{% url 'view_lecture' listed_lecture.section.course.slug listed_lecture.id listed_lecture.slug %}">
                        <li class="list-group-item list-group-item-action {% if lecture.id == listed_lecture.id %}active{% endif %}">{{ listed_lecture.number }}
                            - {{ listed_lecture.title }}{% if listed_lecture.preview %}
                                <span class="badge badge-primary">Preview</span>{% endif %}</li>
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLongTitle">{{ course.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="video" class="embed-responsive-item"
                                src="https://player.vimeo.com/video/{{ course.vimeo_promo_video_id }}" frameborder="0"
                                allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {

            $('#exampleModalCenter').on('show.bs.modal', function (e) {
                $("#video").attr('src', 'https://player.vimeo.com/video/{{ course.vimeo_promo_video_id }}?autoplay=1');

            })

            $('#exampleModalCenter').on('hide.bs.modal', function (e) {

                $("#video").attr('src', 'https://player.vimeo.com/video/{{ course.vimeo_promo_video_id }}');

            })
        });

    </script>
{% endblock %}