{% extends "sitewide/base.html" %}
{% load static %}

{% block head %}
    {% include "sitewide/pretty_socials.html" with title=lecture.title description=lecture.subtitle image=lecture.section.course.image %}
{% endblock %}

{% block content %}

    {% if user.active_membership or lecture.preview %}
        <div class="row justify-content-around bg-primary">
            <div class="col-lg-7 col-md-8 col-11 pt-4 pb-4">
                <h1 class="text-white">{{ lecture.title }}</h1>
                <h5 class="text-dark">{{ lecture.section.title }} - {{ lecture.section.course.title }}</h5>

                {% if lecture.vimeo_video_id %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="https://player.vimeo.com/video/{{ lecture.vimeo_video_id }}" frameborder="0"
                                allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>
                {% endif %}

                {% if lecture.text %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ lecture.text|safe }}</p>
                        </div>
                    </div>
                {% endif %}
                {% include 'courses/next_prev.html' %}
            </div>
        </div>
    {% else %}
        <div class="row justify-content-around bg-primary">
            <div class="col-lg-7 col-md-8 col-11 pt-4 pb-5 text-center">
                <h1 class="text-white">Members Only</h1>
                <h5 class="text-white">Gotta have a membership to watch this one fam. Sign up and join da crew!</h5>

                <a href="{% url 'pricing' %}" class="btn btn-danger mt-2 mb-4">Sign Up</a>

                <div class="card border-0">
                    <div class="bg-dark">
                        <img alt="" height="620" width=1100 class="card-img img-fluid fade"
                             style='opacity: 35%; '
                             src="{% if lecture.thumbnail_url %}{{ lecture.thumbnail_url }}{% else %}{% static 'courses/MembersOnly.jpg' %}{% endif %}">
                    </div>
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <div class="align-items-center d-flex bg-transparent justify-content-center">
                            <a id="members-only-btn"
                               class="pb-2 pt-2 pt-lg-5 pb-lg-5 big-title font-weight-bold text-center text-white link-white h-75 w-75 rounded-circle"
                               href="{% url 'pricing' %}">
                                <i class="fas fa-user-lock"></i>
                                <div class="text-uppercase nowrap">Join da Crew</div>
                            </a>
                        </div>
                    </div>

                </div>
                {% include 'courses/next_prev.html' %}
            </div>
        </div>
    {% endif %}

    <div class="row justify-content-around align-items-center bg-success pt-3">
        <div class="col-lg-6 col-10">

           <ul role="tablist" id="myTab" class="nav nav-pills justify-content-center">
             <li class="nav-item">
               <a class="nav-link active" data-toggle="tab" href="#outline"> <h2 class="text-center">Outline</h2></a>
             </li>
             {% if topics %}
             <li class="nav-item ">
               <a class=" nav-link" data-toggle="tab" href="#topic-list"><h2 class="text-center ">Q&A</h2></a>
             </li>
             {% endif %}
           </ul>

            <div class="tab-content mt-3">
              <div class="tab-pane active show" role="tabpanel" id="outline">
                <div class="list-group mb-3">
                {% for section in lecture.section.course.sorted_sections %}
                    <li class="list-group-item  list-group-item-dark">{{ section.number }} - {{ section.title }}</li>
                    {% for listed_lecture in section.sorted_lectures %}
                        {% if lecture.id == listed_lecture.id %}
                            <li class="list-group-item active">{{ listed_lecture.number }}
                                - {{ listed_lecture.title }}{% if listed_lecture.preview %}
                                    <span class="badge badge-primary">Preview</span>{% endif %}
                            </li>
                        {% else %}
                            <a href="{% url 'view_lecture' listed_lecture.section.course.slug listed_lecture.id listed_lecture.slug %}">
                                <li class="list-group-item list-group-item-action">{{ listed_lecture.number }}
                                    - {{ listed_lecture.title }}{% if listed_lecture.preview %}
                                        <span class="badge badge-primary">Preview</span>{% endif %}</li>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>

              </div>

              <div class="tab-pane fade col-12" role="tabpanel" id="topic-list">
                   {% include 'chit_chat/topicList.html' %}
              </div>

            </div>

        </div>

    </div>
    <div id="download-info" class="row card-img-overlay align-items-center justify-content-center bg-transparent position-fixed" style="display: none !important">
        <div class="border border-white p-3 p-lg-3 big-title font-weight-bold text-center text-white link-white " style="background: rgba(110, 0, 255, .85)">Grabbing your download, one sec...</div>
    </div>
{% endblock %}

{% block javascript %}

    <script>
        $(function () {
            let params = {param : 'download'};
            $('[data-toggle="tooltip"]').tooltip();

            $('#load_more').click(function (){
                 var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                 function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                 }

                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                           xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                $.ajax({
                    url: this.href,
                    global: false,
                    success: function() {
                      console.log('load more wciśnięty');
                    },
                });
            });

            $("#download").click(function () {
                $.ajax({
                    url: this.href,

                });
            });
        }).ajaxStart(function (e) {
                  $("#download-info").show();
        })
            .ajaxComplete(function () {
                  $("#download-info").delay(500).fadeOut();
            });
    </script>

{% endblock %}
