{% extends "sitewide/base.html" %}

{% load static %}


{% block content %}

    <div class="row justify-content-around bg-primary">
        <div class="col-lg-7 col-md-8 col-11 pt-4 pb-5">
            <h1 class="text-white">{{ lecture.title }}</h1>
            <h5 class="text-dark">{{ lecture.section.title }} - {{ lecture.section.course.title }}</h5>

            {% if lecture.vimeo_video_id %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/{{ lecture.vimeo_video_id }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
            {% endif %}
            {% if lecture.text %}
                <p class="text-light">{{ lecture.text|linebreaksbr }}</p>
            {% endif %}

        </div>
        {% if object_list.paginator.num_pages > 1 %}
            <div class="pagination">
                <span class="step-links">
                    {% if object_list.has_previous %}
                        <a href="?{{ page_request_var }}=1">&laquo; first</a>
                        <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
                    </span>
                    {% if object_list.has_next %}
                        <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
                        <a href="?{{ page_request_var }}={{ object_list.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
    </div>

    <div class="row justify-content-around align-items-center bg-success pt-3">
        <div class="col-lg-6 col-10">
            <h2 class="text-center text-white">Outline</h2>
            <div class="list-group">
                {% for section in lecture.section.course.sorted_sections %}
                    <li class="list-group-item  list-group-item-dark">{{ section.number }} - {{ section.title }}</li>
                    {% for listed_lecture in section.sorted_lectures %}
                        {% if lecture.id == listed_lecture.id %}
                            <li class="list-group-item active">{{ listed_lecture.number }} - {{ listed_lecture.title }}</li>
                        {% else %}
                            <a href="{% url 'view_lecture' listed_lecture.section.course.slug listed_lecture.id listed_lecture.slug %}">
                                <li class="list-group-item list-group-item-action">{{ listed_lecture.number }} - {{ listed_lecture.title }}</li>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>





{% endblock %}


