// Add custom stuff here


$primary: #6e00ff;

@import "node_modules/bootstrap/scss/bootstrap";

/* Whole Site */

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito Light'), local('Nunito-Light'),
  url('fonts/nunito-v12-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/nunito-v12-latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
  url('fonts/nunito-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/nunito-v12-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: Nunito, sans-serif;
  font-weight: 300;
}

.link-white a {
  color: white;
  text-decoration: underline;
}

.link-white a:hover {
  filter: brightness(75%);
}

/* Navbar */

.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
  font-weight: 400;
}

.navbar-nav .nav-link:hover {
  color: white !important;
  font-weight: 400;
}

#logo_text {
  font-weight: 400;
}

.center_on_image {
  position: absolute;
  z-index: 666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  -webkit-filter: drop-shadow(0px 0px 30px white);
  filter: drop-shadow(0px 0px 30px white);
  cursor: pointer;
}

.list-group .active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Login Page */

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.form-control {
  color: black !important;
}

/* Money Page */

.underline-red {
  text-decoration: underline;
  -webkit-text-decoration-color: red;
  /* safari still uses vendor prefix */
  text-decoration-color: red;
}

.underline-purple {
  text-decoration: underline;
  -webkit-text-decoration-color: #6e00ff;
  /* safari still uses vendor prefix */
  text-decoration-color: #6e00ff;
}


/* Post Page */

.big-title {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .big-title {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .big-title {
    font-size: 2rem;
  }
}

/* Lecture View - locked */
#members-only-btn {
  border: 5px solid white;
  background: linear-gradient(140deg, #6e00ff, transparent);
}
#members-only-btn:hover {
  background: linear-gradient(40deg, transparent, yellow);
}

@media (max-width: 450px) {
  .display-3 {
     font-size: 3.5rem;
  }
}

@media (max-width: 365px) {
  .display-3 {
     font-size: 3.3rem;
  }
}

@media (max-width: 320px) {
  .display-3 {
     font-size: 2.5rem;
    }

  .container-fluid {
    width: fit-content;
  }
  .navbar {
      padding-left: 0;
      padding-right: 0;
  }

}